<nz-modal [(nzVisible)]="isVisible" nzTitle="Add/Edit Item" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <form [formGroup]="form">
      <div nz-form-item>
        <div nz-form-label>
          <label for="name">Name</label>
        </div>
        <div nz-form-control nzErrorTip="Please input your name!">
          <input nz-input formControlName="name" id="name"/>
        </div>
      </div>
      <div nz-form-item>
        <div nz-form-label>
          <label for="email">Email</label>
        </div>
        <div nz-form-control nzErrorTip="Invalid email!">
          <input nz-input formControlName="email" id="email"/>
        </div>
      </div>
      <div nz-form-item>
        <div nz-form-label>
          <label for="phone">Phone</label>
        </div>
        <div nz-form-control nzErrorTip="Please input your phone!">
          <input nz-input formControlName="phone" id="phone"/>
        </div>
      </div>
      <div nz-form-item>
        <div nz-form-label>
          <label for="address">Address</label>
        </div>
        <div nz-form-control nzErrorTip="Please input your address!">
          <input nz-input formControlName="address" id="address"/>
        </div>
      </div>
    </form>
  </nz-modal>
  